<h1>{{registro.code}} <small>{{registro.cliente}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img style="padding-left: 50px;" height="200">
        <br><br>
        <a href="#registros" class="btn btn-outline-danger btn-block">volver</a>
    </div>
    <div class="col-md-8">
        <h3>Code {{registro.code}}</h3>
        <hr>
        <h3>Fecha {{registro.fecha}}</h3>
        <hr>
        <h3>Cliente {{registro.cliente}}</h3>
        <hr>
        <h3>Tipo de interaccion {{registro.tipointer}}</h3>
        <hr>
        <p>Descripcion <br><br>{{registro.descripcion}}</p>

    </div>
</div>