<h1>Registro de Usuario</h1>

<form id="registroForm">
    <label for="code">code:</label>
    <input type="text" id="coed" required>
    <br>

    <label for="fecha">fecha:</label>
    <input type="text" id="fecha" required>
    <br>

    <label for="cliente">cliente:</label>
    <input type="text" id="cliente" required>
    <br>

    <label for="tipointer">tipo de interaccion:</label>
    <input type="text" id="tipointer" required>
    <br>

    <label for="descripcion">descripcion:</label>
    <input type="text" id="descripcion" required>
    <br>
    <button type="submit">Registrar</button>
</form>